# Subtask 1: Log data parsing

Research on weapons and bots

In [53]:
import os 
import json
import pandas as pd
import re

In [54]:
from email import message


logfilename = "results/gupb__2022_10_20_20_11_04.log"

file = open(logfilename, "r")
data = []
order = ["date", "type", "element", "message"]

for line in file.readlines():
    details = line.split("|")
    details = [x.strip() for x in details]
    structure = {key:value for key, value in zip(order, details)}
    data.append(structure)

df=pd.DataFrame(data)

df.head()

,date,type,element,message
0,"2022-10-20 20:12:45,120",INFO,runner.run:40,Starting game number 1.
1,"2022-10-20 20:12:45,121",DEBUG,runner.run_game:47,Randomly picked arena: generated_9.
2,"2022-10-20 20:12:45,125",DEBUG,arenas.spawn_menhir:126,"Menhir spawned at Coords(x=20, y=17)."
3,"2022-10-20 20:12:45,199",DEBUG,games._spawn_champions:79,Blue champion for IntercontinentalBajers spawn...
4,"2022-10-20 20:12:45,200",DEBUG,games._spawn_champions:79,"Red champion for Killer spawned at Coords(x=8,..."

In [55]:
warning_df = df[df['type']=="WARNING"]

warning_df[['object','name','log']]=warning_df['message'].str.split(' ', 2, expand=True)

warning_df.head()

/var/folders/0j/jndg8f256sv9t35cz406vsjc0000gn/T/ipykernel_7469/928938311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  warning_df[['object','name','log']]=warning_df['message'].str.split(' ', 2, expand=True)
/var/folders/0j/jndg8f256sv9t35cz406vsjc0000gn/T/ipykernel_7469/928938311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  warning_df[['object','name','log']]=warning_df['message'].str.split(' ', 2, expand=True)
/var/folders/0j/jndg8f256sv9t35cz406vsjc0000gn/T/ipykernel_7469/928938311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  warning_df[['object','name','log']]=warning_df['message'].str.split(' ', 2, expand=True)

,date,type,element,message,object,name,log
17,"2022-10-20 20:12:45,231",WARNING,characters.pick_action:112,Controller Spejson throw an unexpected excepti...,Controller,Spejson,throw an unexpected exception: IndexError('ind...
21,"2022-10-20 20:12:45,249",WARNING,characters.pick_action:112,Controller MemeControllerSnieznyKockodan throw...,Controller,MemeControllerSnieznyKockodan,throw an unexpected exception: IndexError('lis...
44,"2022-10-20 20:12:45,284",WARNING,characters.pick_action:112,Controller Spejson throw an unexpected excepti...,Controller,Spejson,throw an unexpected exception: IndexError('ind...
48,"2022-10-20 20:12:45,285",WARNING,characters.pick_action:112,Controller MemeControllerSnieznyKockodan throw...,Controller,MemeControllerSnieznyKockodan,throw an unexpected exception: IndexError('lis...
54,"2022-10-20 20:12:45,288",WARNING,characters.pick_action:112,Controller NobleControllerMarko throw an unexp...,Controller,NobleControllerMarko,throw an unexpected exception: AttributeError(...

In [56]:
warning_df.groupby(['name'], as_index=False).size()

                            name  size
0           DodgeControllerElvis  2319
1   DzikiControllerDzikieBorsuki   113
2  MemeControllerSnieznyKockodan  1661
3           NobleControllerMarko  2477
4           ShrekControllerFiona  2540
5                        Spejson  2322

In [57]:
df[['object','name','log']]=df['message'].str.split(' ', 2, expand=True)

barabasz_df = df[df['name']=='BenadrylowyBarabasz']

In [60]:
barabasz_df.head()

,date,type,element,message,object,name,log
29,"2022-10-20 20:12:45,254",DEBUG,characters.act:79,Champion BenadrylowyBarabasz picked action Act...,Champion,BenadrylowyBarabasz,picked action Action.TURN_LEFT.
30,"2022-10-20 20:12:45,254",DEBUG,characters.turn_left:122,Champion BenadrylowyBarabasz is now facing Fac...,Champion,BenadrylowyBarabasz,is now facing Facing.LEFT.
56,"2022-10-20 20:12:45,289",DEBUG,characters.act:79,Champion BenadrylowyBarabasz picked action Act...,Champion,BenadrylowyBarabasz,picked action Action.TURN_LEFT.
57,"2022-10-20 20:12:45,289",DEBUG,characters.turn_left:122,Champion BenadrylowyBarabasz is now facing Fac...,Champion,BenadrylowyBarabasz,is now facing Facing.DOWN.
83,"2022-10-20 20:12:45,334",DEBUG,characters.act:79,Champion BenadrylowyBarabasz picked action Act...,Champion,BenadrylowyBarabasz,picked action Action.TURN_LEFT.

In [64]:
barabasz_info = barabasz_df.groupby(['log']).size()

barabasz_info

log
attacked with its amulet.               159
attacked with its axe.                    8
attacked with its bow_loaded.            33
attacked with its bow_unloaded.          24
attacked with its knife.                247
                                       ...
took 2 wounds, it has now 4 hp left.     55
took 2 wounds, it has now 6 hp left.     63
was damaged by deadly mist.             437
was damaged by weapon cut.              204
was the last one standing.                4
Length: 882, dtype: int64